* {
    box-sizing: border-box;
    background-color: rgb(53, 53, 53);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 40px;
}

header h1 {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}